/* add h1 at some point */


.content {
    
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
    
}

.content content-info{
    
    display: grid;
    grid-template-rows: 3in 1.5in 5in;
    margin: 10px;
    padding: 10px;
    gap: 10px;

}

.content content-viz{
    justify-content: center;
}

.filters{
    margin: 5px;
    padding: 0;
    display: grid;
    grid-template-rows: auto auto auto;
}

.first-row{
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    justify-content: space-between;

    margin-bottom: 15px;

}

.first-row dropdown-unit{
    justify-items: center;
    display: grid;
    grid-template-rows: 30px auto;
}

.first-row dropdown-element{
    width: 80px;
}


.second-row{
    display: grid;
    grid-template-columns: 100px 80px 80px;
    justify-content: space-between;
    margin-bottom: 15px;

}


.submit-button{
    width: 100%;
    background-color: rgb(30, 78, 210);
    color: aliceblue;
   
}




.responsive-feature-viz {
    max-width: 100%;
    height: auto;
  }


.responsive-label-viz {
    max-width: 120%;
    height: auto;
  }

.text-box{

    margin: 10px;
    padding: 10px;
    
}
/* form - related ::::::::::::::::::::::::::::::::::   */





.record-nav{
    
    grid-template-rows: auto auto;
    align-content: start;
    justify-content: space-between;
    margin-top: 15px;
   
}




#record-info{
    grid-row: 1 / 2;
    margin: 5px;
  
}

#wav-plot{
    grid-row: 4 / 5;
    margin: 5px;
}

#next-button{
    grid-row: 2 / 3;
    margin: 5px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

#audio-player{

    grid-row: 3 / 4;
    margin: 5px;
    width: 100%;

    height: 50px;
}